<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pay.lib">


    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="APP_ID"
            android:value="371efd0d66fe821ad3ad2def84ce1c63" />
        <meta-data
            android:name="APP_PID"
            android:value="${APP_CHANNEL_VALUE}" />

        <!--                     Wap Pay                        -->
        <activity
            android:name="com.wanpu.pay.PayView"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity
            android:name="com.payeco.android.plugin.PayecoOrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoPayResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.payeco.android.plugin.PayecoRiskControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UPPay" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
    </application>

</manifest>


